.body {
    background-color: white;
    display: block;
}

.main {
    display: inline-block;
    background-color: navy;
    font-size: 20px;
    color: white;
    border: 7px solid navy;
    border-radius: 15px 15px 15px 15px;
}

.header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    background-color: navy;
    color: white;
    display: block;
    padding: 20px 20px 20px 20px;
}

.citysearch {
    display: inline-block;
    font-size: 25px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    background-color: navy;
    min-height: 10vh;
    border: 7px solid navy;
    border-radius: 10px 10px 10px 10px;
    max-width: 220px;
    margin: 0px 0 0 0;
}

#searchhistory {
    display: inline;
    font-size: 20px;
    background-color: navy;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    border: 7px solid navy;
    border-radius: 15px 15px 15px 15px;
}
#searchhistorylist {
    display: inline;
}